<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenedores en html</title>
</head>
<body>
  <main>
    <h1>Contenedores en HTML</h1>
    <section>
        <h2>¿Qué es un contenedor?</h2>
        <p>Un contenedor en HTML es un elemento que agrupa otros elementos para organizarlos y aplicarles estilos o comportamientos comunes. Los contenedores más comunes son &lt;div&gt; y &lt;section&gt;.</p>
    </section>
  </main>    
</body>
</html>