<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenedores padres en html</title>
</head>
<body>
    <h1>Contenedores padres en html</h1>
    <p>Los contenedores padres en HTML son elementos que contienen otros elementos dentro de ellos. Estos contenedores ayudan a organizar y estructurar el contenido de una página web.</p>
    <h2>Ejemplos de contenedores padres</h2>
    <section>
        <h3>Div</h3>
        <p>El elemento <code>&lt;div&gt;</code> es un contenedor genérico que se utiliza para agrupar otros elementos y aplicarles estilos o scripts.</p>
        <pre>
&lt;div class="contenedor"&gt;
    &lt;h2&gt;Título dentro del div&lt;/h2&gt;
    &lt;p&gt;Párrafo dentro del div.&lt;/p&gt;
&lt;/div&gt;
        </pre>
    </section>
    
</body>
</html>