<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura sitio</title>
</head>
<body>
    <h1>Estructura sitio Web Html</h1>
    <p>Esta es la estructura básica de un sitio web en HTML.</p>
     <!-- agrgar la estructura basica de un sitio web con las etiquetas header, nav, main, section, article, aside y footer -->
    <header>
        <h2>Header</h2>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sección Principal</h2>
            <article>
                <h3>Artículo 1</h3>
                <p>Contenido del artículo 1.</p>
            </article>
            <article>
                <h3>Artículo 2</h3>
                <p>Contenido del artículo 2.</p>
            </article>
        </section>
        <aside>
            <h2>Barra Lateral</h2>
            <p>Contenido adicional o enlaces relacionados.</p>
        </aside>
    </main>
    <footer>
        <p>Derechos reservados &copy; 2023</p>
    </footer>   
</body>
</html>